
body {
    background-color: #161616;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-vert {
    flex-direction: column;
}

.container-hori {
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
}

.info {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 80%;
}

ul {
    display: block;
    list-style-type: none;
    overflow: auto;
}

li {
    float: left;
}

p, a {
    color: whitesmoke;
}

canvas {
    border: 1px solid black;
    margin: 4px;
}

.footer {
    font-size: small;
}

input {
    min-width: 400px;
}